@tailwind base;
@tailwind components;
@tailwind utilities;

.home-layout {
  @apply h-screen bg-slate-500 w-full max-w-[100vw] grid grid-cols-5 grid-rows-8 gap-2 p-2 overflow-hidden;
}

.top-bar {
  @apply relative col-span-5 bg-[#000322] flex-between px-5 py-2;
}

.side-bar {
  @apply relative row-span-7 row-start-2 border-r-2 border-black;
}

.outlet {
  @apply relative col-span-4 row-span-7 row-start-2;
}

.flex-between {
  @apply flex justify-between items-center;
}

.font-base {
  @apply text-[18px] font-bold;
}

.custom-column {
  @apply column-sm;
}

.cabins {
  @apply flex  w-full relative  flex-col items-center justify-between overflow-scroll pb-5 scrollbar-hide;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.button {
    @apply  py-2 rounded-xl uppercase cursor-pointer text-sm;
}

.form-input {
  @apply mt-3 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.column-sm {
  @apply h-[70px] w-full relative grid grid-cols-9  gap-3 items-center ;
}